@media only screen and (max-width: 1600px) {
  .news-all ul {
    margin: 0;
    margin-top: 0px;
    padding: 0 60px;
    height: 400px;
    overflow-y: auto; }

  .element-box ul li .content-item__text {
    width: 330px;
    padding: 15px; }

  .container {
    width: 90% !important; } }
@media only screen and (max-width: 1025px) {
  .element-box ul li .content-item {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }

  .container {
    width: 98% !important; }

  .element-box ul li .content-item__text {
    width: 100%;
    padding: 15px 0; }

  footer {
    text-align: center; }
    footer span {
      margin-right: 15px; }

  .social {
    float: right;
    width: 100%;
    text-align: center; }
    .social img {
      height: 20px; }

  .element-box {
    padding: 15px;
    display: inline-block;
    width: 100%;
    padding-bottom: 100px; }

  .menu-head-top ul li {
    padding: 0 5px; }

  header .logo-head-top img {
    height: 60px; }

  .popup-contact .modal-dialog {
    width: 95%;
    margin-top: 70px; }

  .popup-contact .close-popup {
    right: -0px;
    top: -42px; }

  .menu-head-top ul {
    margin: 0px 0 0 0; }

  .popup-kientruc .modal-dialog {
    width: 95%; }

  .popup-kientruc .close-popup {
    position: absolute;
    right: 0px;
    top: -31px; } }
@media only screen and (max-width: 992px) {
  .infor-project-popup {
    margin-top: 30px;
    padding: 0; }

  .lager-thumbnails {
    padding: 0; }

  .icon-nav-top a {
    padding: 0 0px;
    border: 0 !important; }

  .menu-head-top {
    display: none; }

  header .logo-head-top {
    float: left;
    width: 100%;
    text-align: center; }

  header .icon-menu {
    display: block; }

  .infor-project-detail {
    margin-top: 30px; }

  .col-footer-2 {
    display: none; }

  .copyright-footoer {
    text-align: center; }
    .copyright-footoer p {
      text-align: center; }

  .kientruc {
    height: 330px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: calc(.25rem - 1px); }
    .kientruc img {
      position: relative !important; }

  .box-item-project {
    padding: 0 15px !important;
    width: 50%; }

  .project-list .row-project {
    display: flex;
    flex-wrap: wrap;
    margin: 0; }

  .col-md-3.small-slide {
    display: none; } }
@media only screen and (max-width: 767px) {
  .popup-contact .modal-dialog {
    width: 95%;
    margin-top: 70px; }

  .popup-contact .close-popup {
    right: -0px;
    top: -42px; }

  .nav {
    width: 100%;
    overflow-y: auto; }

  .logo-menu-btn img {
    height: 70px; }

  .icon-menu {
    top: 40px; }

  .nav .icon-close {
    position: fixed;
    top: 32px; }

  .element-box {
    padding-bottom: 20px; }

  .breadcrumb {
    padding-top: 50px; }

  .h-left-nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    float: left; }

  .body-content {
    padding-left: 0;
    float: left;
    width: 100%; }

  .news-all ul {
    margin: 0;
    margin-top: 0px;
    padding: 0 30px;
    height: auto;
    overflow-y: inherit; }

  footer {
    position: relative;
    width: 100%;
    float: left; }

  .row-project {
    margin-left: -15px;
    margin-right: -15px; }

  .sort-project {
    display: block;
    position: absolute;
    right: 0px;
    top: -7px; }
    .sort-project i {
      font-size: 26px;
      color: #000; }

  header {
    background: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999; }

  .filter-muanha ul {
    display: none; }

  .sort-show ul {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    display: block; }

  .maunha-section {
    padding-top: 80px; } }
@media only screen and (max-width: 450px) {
  .popup-kientruc .modal-dialog {
    width: 100%;
    margin: 0;
    padding: 0 !important;
    margin-top: 50px; }

  .slider-popup {
    padding-left: 0px !important;
    margin-bottom: 30px; }

  .slider-popup #thumbcarousel {
    width: 45px; }

  .popup-kientruc .close-popup {
    position: absolute;
    right: 11px;
    top: -40px; }

  .kientruc {
    height: 330px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: calc(.25rem - 1px); }
    .kientruc img {
      position: relative !important; }

  .box-item-project {
    padding: 0 15px !important;
    width: 100%; }

  .project-list .row-project {
    display: flex;
    flex-wrap: wrap;
    margin: 0; }

  .bottom-project__item {
    padding: 0 15px;
    float: left; }

  footer br {
    display: block; } }

/*# sourceMappingURL=responsive.css.map */
