@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 400;
  font-size: 13px; }

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  outline: none;
  box-shadow: none; }

.h-left-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 450px;
  height: 100%;
  background: #000; }

.logo-menu-btn {
  padding: 20px 15px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #4e4e4e; }

.icon-menu {
  position: absolute;
  left: 20px;
  cursor: pointer;
  top: 60px; }
  .icon-menu i {
    color: #ffffff;
    font-size: 20px; }

.form-contact label span {
  color: red; }

.news-all ul {
  margin: 0;
  margin-top: 30px;
  padding: 0 60px;
  height: 580px;
  overflow-y: auto; }
  .news-all ul li {
    display: inline-block;
    margin: 15px 0;
    width: 100%; }
    .news-all ul li h6 {
      color: #ffffff;
      width: auto;
      display: inline-block;
      font-weight: 700;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 13px; }
    .news-all ul li span {
      color: #ffffff; }
    .news-all ul li a {
      color: #ffffff;
      text-decoration: none !important; }
      .news-all ul li a:hover a {
        color: #c68446 !important; }
    .news-all ul li a:hover h6, .news-all ul li a:hover span, .news-all ul li a:hover a {
      color: #c68446 !important;
      text-decoration: none; }

footer {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #4e4e4e;
  left: 0;
  width: 100%;
  padding: 6px 15px;
  background: #000; }
  footer b {
    font-size: 13px;
    margin-top: 10px;
    display: inline-block; }
  footer span {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block; }
  footer br {
    display: none; }

.social {
  float: right; }
  .social a {
    padding: 6px 2px;
    display: inline-block; }

.body-content {
  padding-left: 450px; }

.head-top {
  padding: 30px;
  padding-bottom: 15px; }

.element-box {
  padding: 15px;
  display: inline-block;
  width: 100%;
  padding-bottom: 30px; }
  .element-box ul {
    margin: 0;
    padding: 0; }
    .element-box ul li {
      padding: 0 15px;
      position: relative;
      list-style: none;
      margin-bottom: 30px; }
      .element-box ul li img {
        object-fit: cover;
        width: 100%; }
      .element-box ul li .content-item {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%; }
        .element-box ul li .content-item__text {
          width: 400px;
          text-align: center;
          background: #ffffff;
          margin: auto;
          padding: 30px; }
          .element-box ul li .content-item__text h6 {
            font-size: #000;
            font-size: 16px;
            padding: 0;
            color: #000;
            margin: 0;
            margin-bottom: 16px;
            font-weight: 700; }
          .element-box ul li .content-item__text p {
            font-size: 13px;
            line-height: 22px;
            color: #000;
            margin-bottom: 0; }
          .element-box ul li .content-item__text:hover h6 {
            color: #c68446; }

.nav {
  position: fixed;
  top: 0;
  background: #000;
  width: 450px;
  padding: 60px;
  left: 0;
  height: 100%;
  padding-top: 80px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  visibility: visible;
  opacity: 1;
  z-index: 9; }
  .nav .icon-close {
    position: fixed;
    top: 52px;
    cursor: pointer;
    left: 10px; }
    .nav .icon-close i {
      color: #ffffff;
      font-size: 22px;
      width: 40px;
      text-align: center;
      padding-top: 9px;
      height: 40px;
      background: #000;
      display: inline-block; }
  .nav ul li {
    padding: 10px 0; }
    .nav ul li a {
      color: #ffffff;
      font-size: 13px; }
    .nav ul li:hover a {
      color: #c68446; }

.menu-head-top {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  visibility: visible;
  opacity: 1;
  float: right; }
  .menu-head-top ul {
    margin: 20px 0 0 0; }
    .menu-head-top ul li {
      display: inline-block;
      padding: 0 15px; }
      .menu-head-top ul li a {
        color: #ffffff;
        font-size: 13px;
        border-bottom: 2px solid #000;
        text-decoration: none;
        padding-bottom: 15px; }
      .menu-head-top ul li:hover a, .menu-head-top ul li.active a {
        color: #c68446;
        border-bottom: 2px solid #c68446; }

.hide-nav {
  visibility: hidden;
  opacity: 0;
  left: -700px; }

.search-nav {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #4e4e4e;
  position: relative; }
  .search-nav input {
    background: none;
    width: 100%;
    height: 35px;
    box-shadow: none;
    border: 0;
    color: #ffffff;
    padding: 0 60px 0 0; }
  .search-nav i {
    font-size: 19px;
    position: absolute;
    color: #ffffff;
    right: 10px;
    cursor: pointer;
    top: 7px; }

.icon-nav {
  width: 100%; }
  .icon-nav img {
    display: inline-block;
    margin-right: 15px; }

header {
  background: #000;
  padding: 10px; }
  header .logo-head-top {
    float: left; }
    header .logo-head-top img {
      height: 100px; }
    header .logo-head-top .icon-menu {
      position: fixed;
      cursor: pointer;
      top: 25px; }
  header .nav .icon-close {
    top: 19px;
    left: 10px; }
  header .icon-menu {
    display: none; }

.icon-nav-top {
  border-left: 1px solid #4e4e4e;
  position: relative;
  padding-right: 0 !important; }
  .icon-nav-top a {
    padding: 0 10px;
    border: 0 !important; }
  .icon-nav-top .ti-close {
    display: none; }
  .icon-nav-top .search-nav-top {
    position: absolute;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    visibility: hidden;
    opacity: 0;
    bottom: -66px;
    width: 200px;
    background: #ffffff;
    border-radius: 4px;
    right: 104px; }
    .icon-nav-top .search-nav-top input {
      background: none;
      width: 100%;
      height: 35px;
      box-shadow: none;
      border: 0;
      color: #000;
      padding: 0 60px 0 10px; }
    .icon-nav-top .search-nav-top i {
      font-size: 19px;
      position: absolute;
      color: #000;
      right: 10px;
      cursor: pointer;
      top: 7px; }

.breadcrumb {
  padding: 8px 0;
  background: none; }
  .breadcrumb a {
    font-weight: normal;
    font-size: 12px;
    color: #6c6c6c;
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #000; }
  .breadcrumb li {
    color: #000 !important;
    font-weight: bold !important; }
  .breadcrumb ol {
    margin-bottom: 0; }

.infor-project-detail h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700; }
.infor-project-detail strong {
  font-style: italic;
  font-weight: normal;
  color: #6f6f6f; }
.infor-project-detail .description-infor {
  border: 1px solid #d4d4d4;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
  margin: 10px 0; }
  .infor-project-detail .description-infor b {
    margin-right: 5px; }

.button-action {
  margin-top: 20px; }
  .button-action a {
    background: #c68446;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 30px; }

.price label {
  font-size: 24px;
  font-weight: 700; }

.sumary-detail {
  margin-top: 40px; }
  .sumary-detail h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600; }
  .sumary-detail img {
    max-width: 80%;
    margin: auto;
    margin: 15px 0; }
  .sumary-detail p {
    line-height: 25px; }

/*--slider boootraps--*/
.p-0 {
  padding: 0; }

.container {
  width: 1540px !important; }

.project-right .block-price {
  border: 1px solid #d4d4d4;
  padding: 30px 20px;
  margin-bottom: 30px; }
  .project-right .block-price__title {
    position: relative;
    padding-left: 15px; }
    .project-right .block-price__title h3 {
      font-size: 24px;
      margin: 0;
      font-weight: 700; }
    .project-right .block-price__title::before {
      content: '';
      display: block;
      height: 24px;
      width: 4px;
      background: #c68446;
      position: absolute;
      left: 0;
      top: 2px; }
  .project-right .block-price ul {
    padding: 0;
    margin: 0; }
    .project-right .block-price ul li {
      display: inline-block;
      width: 100%;
      border: 1px solid #ddd;
      margin-top: 30px; }
      .project-right .block-price ul li a img {
        width: 100%; }
      .project-right .block-price ul li h6 a {
        font-size: 16px;
        color: #000;
        font-weight: bold;
        padding-right: 30px; }

.infor-project-block {
  position: relative;
  padding: 15px; }
  .infor-project-block .ti-heart {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #6f6f6f; }
    .infor-project-block .ti-heart:hover {
      color: #c68446; }

.footer-page {
  background: #000;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  margin-top: 30px;
  text-align: left !important;
  float: left;
  position: relative; }
  .footer-page img {
    max-width: 90%; }
  .footer-page a img {
    margin: 0 5px; }

.social-footer {
  text-align: center; }

.col-footer-1 {
  text-align: center; }

.col-footer-2 {
  padding-top: 50px; }
  .col-footer-2 h2 {
    font-size: 24px;
    color: #ffffff;
    position: relative;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin: 0 0  50px 0; }
    .col-footer-2 h2::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 100px;
      height: 4px;
      background: #c68446; }
  .col-footer-2 p {
    color: #ffffff;
    line-height: 25px;
    display: inline-block;
    width: 100%; }
  .col-footer-2 a {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    padding: 3px 0; }

.copyright-footoer {
  border-top: 1px solid #4e4e4e;
  margin-top: 30px;
  padding: 10px 0; }
  .copyright-footoer p {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #9d9d9d; }

.maunha-section {
  display: inline-block;
  width: 100%; }

.sort-project {
  display: none; }

.filter-muanha {
  position: relative; }
  .filter-muanha h2 {
    font-weight: 700;
    margin-bottom: 20px !important;
    font-size: 20px; }
  .filter-muanha ul {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    visibility: visible;
    opacity: 1; }
    .filter-muanha ul li {
      list-style: none;
      margin-bottom: 60px; }
      .filter-muanha ul li h3 {
        font-size: 18px;
        margin-bottom: 20px !important;
        font-weight: 700; }
      .filter-muanha ul li label {
        font-weight: normal; }
  .filter-muanha h4 {
    font-weight: 600;
    margin-top: 30px;
    font-size: 14px; }

.price-textbox {
  position: relative;
  padding: 0 20px 10px 40px; }
  .price-textbox label {
    position: absolute;
    left: 0;
    top: 3px; }
  .price-textbox input {
    width: 100%;
    background: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #d4d4d4; }
  .price-textbox span {
    position: absolute;
    right: 0;
    top: 3px; }

.icheck-warning {
  margin-bottom: 15px !important; }

.icheck-carrot {
  margin-bottom: 15px !important; }

.phanloai {
  display: inline-block;
  margin-bottom: 10px; }
  .phanloai label {
    font-weight: normal;
    display: inline-block;
    width: 80px;
    font-size: 13px; }
  .phanloai input {
    width: 30px;
    display: inline-block;
    border: 0;
    padding: 5px;
    color: #000;
    text-align: center;
    margin: 0 10px;
    height: 30px;
    background: #e4e4e4; }
  .phanloai span {
    display: inline-block; }

.xeploai {
  position: relative;
  margin-bottom: 10px; }
  .xeploai span {
    margin-right: 5px;
    width: 120px;
    display: inline-block; }
  .xeploai input {
    border: 0;
    border-bottom: 1px solid #d4d4d4; }

.project-list {
  margin: 30px 0; }
  .project-list .row-project {
    display: flex;
    flex-wrap: wrap; }

.box-item-project {
  margin-bottom: 30px; }

.status {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  background: #c68446; }
  .status span {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px; }

.pagging-project {
  text-align: center; }
  .pagging-project ul {
    border-radius: 0 !important; }
    .pagging-project ul li {
      border-radius: 0;
      margin: 0 2px;
      display: inline-block; }
      .pagging-project ul li a {
        border: 0;
        padding: 10px 16px;
        color: #000;
        border-radius: 0 !important;
        background: #ebebeb; }
        .pagging-project ul li a:hover, .pagging-project ul li a.active {
          background: #000;
          color: #ffffff; }

.item-project {
  display: inline-block;
  width: 100%; }

.avatar-project {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .avatar-project a {
    width: 100%; }
    .avatar-project a img {
      width: 100%; }

.kientruc {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .kientruc a {
    width: 100%; }
    .kientruc a img {
      width: 100%; }

.title-description {
  position: relative;
  padding: 10px 25px 10px 15px;
  border: 1px solid #d4d4d4;
  border-top: 0;
  width: 100%;
  border-bottom: 0;
  float: left; }
  .title-description h6 a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none; }
  .title-description h6:hover a {
    color: #c68446; }

.heart {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 6px; }
  .heart i {
    font-size: 23px;
    position: absolute;
    top: 10px;
    right: 0; }
    .heart i.normal-heart {
      color: #4e4e4e; }
    .heart i.active-heart {
      display: none;
      color: #c68446; }
  .heart:hover i.normal-heart {
    display: none; }
  .heart:hover i.active-heart {
    display: block; }

.cate-price {
  border: 1px solid #d4d4d4;
  border-top: 0;
  border-bottom: 0;
  float: left;
  width: 100%; }

.bottom-project {
  background: #000;
  padding: 10px 0px;
  width: 100%;
  float: left; }
  .bottom-project__item {
    padding: 0 15px; }
    .bottom-project__item span {
      font-weight: bold;
      color: #ffffff;
      font-size: 14px; }
    .bottom-project__item img {
      float: left; }

.seo-about {
  background: url(../images/seo-description.png) no-repeat center top;
  height: auto;
  width: 100%;
  margin: 30px 0;
  display: inline-block;
  margin-bottom: 100px;
  padding-top: 250px; }

.content-about-page {
  background: #ffffff;
  box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 30px; }
  .content-about-page h2 {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #000; }
    .content-about-page h2::after {
      content: '';
      display: block;
      width: 70px;
      height: 2px;
      background: #c68446;
      margin: 10px auto; }

.popup-contact .modal-dialog {
  width: 400px; }
  .popup-contact .modal-dialog button.btn-common {
    background: #c68446;
    color: #ffffff;
    float: right; }
.popup-contact h2 {
  font-size: 24px;
  color: #000;
  position: relative;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin: 0 0  50px 0; }
  .popup-contact h2::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100px;
    height: 4px;
    background: #c68446; }
.popup-contact label {
  font-weight: normal;
  color: #000; }
.popup-contact .close-popup {
  position: absolute;
  right: -30px;
  top: -00px;
  font-size: 30px;
  color: #ffffff;
  opacity: 1;
  border: 0;
  box-shadow: none; }
  .popup-contact .close-popup i {
    font-size: 20px;
    opacity: 1;
    color: #ffffff !important;
    box-shadow: none;
    border: 0; }

.popup-kientruc {
  position: relative; }
  .popup-kientruc .modal-content {
    width: 100%;
    display: inline-block;
    border: 0;
    background: none;
    box-shadow: none;
    padding: 4px 0 20px 0; }
  .popup-kientruc .close-popup {
    position: absolute;
    right: -30px;
    top: -00px; }
    .popup-kientruc .close-popup button {
      font-size: 30px;
      color: #ffffff;
      opacity: 1; }
      .popup-kientruc .close-popup button i {
        font-size: 20px;
        opacity: 1;
        color: #ffffff; }
  .popup-kientruc .modal-dialog {
    width: 1200px;
    margin-top: 10%; }

.slide-popup {
  display: inline-block;
  width: 100%; }

/*-- slider --*/
.product-slider {
  padding: 0;
  position: relative; }
  .product-slider span {
    color: #ffffff; }
  .product-slider ul {
    margin-top: 0;
    margin: 0 !important; }
    .product-slider ul img {
      margin: 0;
      width: 100%;
      padding: 0; }

.carousel-inner.vertical {
  height: 100%;
  /*Note: set specific height here if not, there will be some issues with IE browser*/ }

.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000; }

  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0; }

  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0; }

  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0; } }
.carousel-inner.vertical > .active {
  top: 0; }

.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto; }

.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right: 0; }

.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right: 0; }

.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0; }

.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right: 0; }

.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right: 0; }

#carousel-pager .carousel-control.left {
  bottom: initial;
  width: 100%;
  background: none !important;
  box-shadow: none !important; }

#carousel-pager .carousel-control.right {
  background: none !important;
  box-shadow: none !important;
  top: initial;
  width: 100%; }

.lager-slide {
  padding-left: 0;
  padding-right: 5px; }
  .lager-slide img {
    padding: 0;
    margin: 0;
    width: 100%; }
  .lager-slide a {
    padding-top: 37%; }

.small-slide {
  padding-right: 0;
  padding-left: 5px; }
  .small-slide img {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 5px; }
  .small-slide a {
    background: none !important; }

.lager-slide img {
  cursor: pointer; }

.slider-popup {
  padding-left: 150px !important; }
  .slider-popup #thumbcarousel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 125px; }
    .slider-popup #thumbcarousel .thumb {
      width: 100% !important; }
  .slider-popup img {
    border: 0 !important;
    padding: 0 !important; }
  .slider-popup a.right.carousel-control {
    position: absolute;
    top: 390px;
    left: 13%;
    -ms-transform: rotate(180deg);
    transform: rotate(90deg); }
  .slider-popup a.left.carousel-control {
    position: absolute;
    top: 0;
    left: 46%;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    transform: rotate(90deg); }
  .slider-popup a i {
    color: #ffffff; }

.infor-project-popup h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  padding: 0; }
.infor-project-popup p {
  font-size: 13px;
  color: white;
  line-height: 24px; }

.show-search a.search-top img {
  display: none; }
.show-search a.search-top i {
  display: contents !important;
  color: #ffffff !important;
  font-size: 16px; }
.show-search .search-nav-top {
  visibility: visible !important;
  opacity: 1 !important;
  bottom: -27px; }

.search-top {
  display: inline-block;
  width: 30px; }

.slider-bootraps img {
  width: 100%; }
.slider-bootraps li {
  border-radius: 0 !important; }
  .slider-bootraps li img {
    padding: 5px;
    border-radius: 0;
    border: 1px solid #ddd; }
    .slider-bootraps li img:nth-child(2) {
      border: 0 !important; }
  .slider-bootraps li.active img {
    border: 1px solid #c68446; }

.lager-thumbnails img {
  width: 100%; }

.lSSlideOuter.vertical .lSAction > .lSPrev, .lSSlideOuter.vertical .lSAction > .lSNext {
  right: 10px !important;
  left: auto !important; }

.modal-backdrop {
  background-color: #161616; }

.modal-backdrop.in {
  filter: alpha(opacity=85);
  opacity: .85; }

/*-- slider --*/
.product-slider {
  padding: 0;
  position: relative; }
  .product-slider span {
    color: #ffffff; }
  .product-slider ul {
    margin-top: 0;
    margin: 0 !important; }
    .product-slider ul img {
      margin: 0;
      width: 100%;
      padding: 0; }

.carousel-inner.vertical {
  height: 100%;
  /*Note: set specific height here if not, there will be some issues with IE browser*/ }

.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000; }

  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0; }

  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0; }

  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0; } }
.carousel-inner.vertical > .active {
  top: 0; }

.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto; }

.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right: 0; }

.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right: 0; }

.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0; }

.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right: 0; }

.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right: 0; }

#carousel-pager .carousel-control.left {
  bottom: initial;
  width: 100%; }

#carousel-pager .carousel-control.right {
  top: initial;
  width: 100%; }

.lager-slide {
  padding-left: 0;
  padding-right: 5px; }
  .lager-slide img {
    padding: 0;
    margin: 0;
    width: 100%; }
  .lager-slide a {
    padding-top: 47%; }

.small-slide {
  padding-right: 20px; }
  .small-slide img {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 5px; }
  .small-slide a {
    background: none !important; }

.carousel-inner > .item {
  margin: 0 !important; }

.right.carousel-control {
  background: none !important;
  box-shadow: none !important; }

.lager-slide img {
  cursor: pointer; }

.carousel-inner.vertical.item.active img {
  opacity: .5 !important; }

.carousel-control span {
  font-size: 30px;
  background: rgba(0, 0, 0, 0.6);
  width: 40px;
  padding: 10px 5px 6px 5px;
  color: #ffffff;
  box-shadow: none; }

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-indicators {
  display: inline-block;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: static;
  direction: rtl; }

@media screen and (max-width: 992px) {
  .carousel-indicators {
    display: inline-flex;
    direction: inherit;
    height: auto;
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    overflow-y: hidden;
    justify-content: normal;
    margin-bottom: 20px; }

  .carousel-inner {
    margin-left: 0 !important; } }
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.item {
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer; }

.item img {
  border: 1px solid transparent;
  opacity: 1;
  transition: 0.5s; }

.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black background with transparency */
  color: #f1f1f1;
  width: 100%;
  padding: 10px; }

.content p {
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
