$white:#ffffff;
$line:#d4d4d4;
$text2:#6f6f6f;
$text:#000;
$brows:#c68446;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    color: $text;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
}
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    outline: none;
    box-shadow: none;
}
.h-left-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    height: 100%;
    background: $text;
}
.logo-menu-btn{
    padding: 20px 15px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #4e4e4e;
}
.icon-menu{
    position: absolute;
    left: 20px;
    cursor: pointer;
    top: 60px;
    i{
        color: $white;
        font-size: 20px;
    }
}
.form-contact{
    label{
        span{
            color: red;
        }
    }
}
.news-all{
    ul{
        margin: 0;
        margin-top: 30px;
        padding: 0 60px;
        height: 580px;
        overflow-y: auto;
        li{
            display: inline-block;
            margin: 15px 0;
            width: 100%;
            
            h6{
                color: $white;
                width: auto;
                display: inline-block;
                font-weight: 700;
                margin:0;
                padding: 0;
                text-transform: uppercase;
                font-size: 13px;
            }
            span{
                color: $white;
            }
            a{
                color: $white;
                text-decoration: none !important;
                &:hover{
                    a{
                        color: $brows !important;
                    }
                }
            }
            a{
                &:hover{
                    h6,span,a{
                        color: $brows !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
footer{
    color: $white;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #4e4e4e;
    left: 0;
    width: 100%;
    padding:6px 15px;
    background: $text;
    b{
        font-size: 13px;
        margin-top: 10px;
        display: inline-block;
    }
    span{
        margin-right: 30px;
        margin-top: 10px;
        display: inline-block;
    }
    br{
        display: none;
    }
}
.social{
    float: right;
    a{
        padding:6px 2px;
        display: inline-block;
    }
}
.body-content{
    padding-left: 450px;
}
.head-top{
    padding: 30px;
    padding-bottom: 15px;
}
.element-box{
    padding: 15px;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    ul{
        margin: 0;
        padding: 0;
        li{
            padding: 0 15px;
            position: relative;
            list-style: none;
            margin-bottom: 30px;
            img{
                object-fit: cover;
                width: 100%;
            }
            .content-item{
                position: absolute;
                top: 20%;
                left: 0;
                width: 100%;
                &__text{
                    width: 400px;
                    text-align: center;
                    background: $white;
                    margin: auto;
                    padding: 30px;
                    h6{
                        font-size: $text;
                        font-size: 16px;
                        padding: 0;
                        color: $text;
                        margin: 0;
                        margin-bottom: 16px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 13px;
                        line-height: 22px;
                        color: $text;
                        margin-bottom: 0;
                    }
                    &:hover{
                        h6{
                            color: $brows;
                        }
                    }
                }
            }
        }
    }
}
.nav{
    position: fixed;
    top: 0;
    background: #000;
    width: 450px;
    padding: 60px;
    left: 0;
    height: 100%;
    padding-top: 80px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    visibility: visible;
    opacity: 1;
    z-index: 9;
    .icon-close{
        position: fixed;
        top: 52px;
        cursor: pointer;
        left: 10px;
        i{
            color: #ffffff;
            font-size: 22px;
            width: 40px;
            text-align: center;
            padding-top: 9px;
            height: 40px;
            background: #000;
            display: inline-block;
        }
    }
    ul{
        li{
            padding: 10px 0;
            a{
                color: $white;
                font-size: 13px;
            }
            &:hover{
                a{
                    color: $brows;
                }
            }
        }
    }
}
.menu-head-top{
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    visibility: visible;
    opacity: 1;
    float: right;
    ul{
        margin: 20px 0 0 0;
        li{
            display: inline-block;
            padding: 0 15px;
            
            
            a{
                color: $white;
                font-size: 13px;
                border-bottom: 2px solid $text;
                text-decoration: none;
                padding-bottom: 15px;
            }
            &:hover, &.active{
                a{
                    color: $brows;
                    border-bottom: 2px solid $brows;
                }
            }
        }
    }
}
.hide-nav{
    visibility: hidden;
    opacity: 0;
    left: -700px;
    
}
.search-nav{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #4e4e4e;
    position: relative;
    input{
        background: none;
        width: 100%;
        height: 35px;
        box-shadow: none;
        border: 0;
        color: $white;
        padding: 0 60px 0 0;
    }
    i{
        font-size: 19px;
        position: absolute;
        color: $white;
        right: 10px;
        cursor: pointer;
        top: 7px;
    }
}
.icon-nav{
    width: 100%;
    img{
        display: inline-block;
        margin-right: 15px;
    }
}
header{
    background: $text;
    padding: 10px;
    .logo-head-top{
        float: left;
        img{
            height: 100px;
        }
        .icon-menu{
            position: fixed;
            cursor: pointer;
            top: 25px;
        }
    }
    .nav{
        .icon-close {
            top: 19px;
            left: 10px;
        }
    }
    .icon-menu{
        display: none;
    }
}
.icon-nav-top{
    border-left: 1px solid #4e4e4e;
    position: relative;
    padding-right: 0 !important;
    
    a{
        padding: 0 10px;
        border: 0 !important;
    }
    .ti-close{
        display: none;
    }
    .search-nav-top{
        position: absolute;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        visibility: hidden;
        opacity: 0;
        bottom: -66px;
        width: 200px;
        background: $white;
        border-radius: 4px;
        right: 104px;
        input{
            background: none;
            width: 100%;
            height: 35px;
            box-shadow: none;
            border: 0;
            color:$text;
            padding: 0 60px 0 10px;
        }
        i{
            font-size: 19px;
            position: absolute;
            color: $text;
            right: 10px;
            cursor: pointer;
            top: 7px;
        }
    }
}
.breadcrumb{
    padding: 8px 0;
    background: none;
    a{
        font-weight: normal;
        font-size: 12px;
        color: #6c6c6c;
        text-decoration: none;
        &:hover{
            color: $text;
        }
    }
    li{
        color: $text !important;
        font-weight: bold !important;
    }
    ol{
        margin-bottom: 0;
    }
}
.infor-project-detail{
    h1{
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 700;
    }
    strong{
        font-style: italic;
        font-weight: normal;
        color: #6f6f6f;
    }
    .description-infor{
        border: 1px solid #d4d4d4;
        border-left: 0;
        border-right: 0;
        padding: 10px 0;
        margin: 10px 0;
        b{
            margin-right: 5px;
        }
    }
}
.button-action{
    margin-top: 20px;
    a{
        background: $brows;
        font-size: 24px;
        color: $white;
        font-weight: 700;
        text-decoration: none;
        padding: 15px 30px;
    }
}
.price{
    label{
        font-size: 24px;
        font-weight: 700;
    }
}
.sumary-detail{
    margin-top: 40px;
    h2{
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    img{
        max-width: 80%;
        margin: auto;
        margin: 15px 0;
    }
    p{
        line-height: 25px;
    }
}

/*--slider boootraps--*/

.p-0{
    padding: 0;
}
.container {
    width: 1540px !important;
}


.project-right{
    .block-price{
        border: 1px solid $line;
        padding: 30px 20px;
        margin-bottom: 30px;

        &__title{
            position: relative;
            padding-left: 15px;
            h3{
                font-size: 24px;
                margin: 0;
                font-weight: 700;
            }
            &::before{
                content: '';
                display: block;
                height: 24px;
                width: 4px;
                background: $brows;
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
        ul{
            padding:0;
            margin: 0;
            li{
                display: inline-block;
                width: 100%;
                border: 1px solid #ddd;
                margin-top: 30px;
                a{
                    img{
                        width: 100%;
                    }
                }
                h6{
                    a{
                        font-size: 16px;
                        color: $text;
                        font-weight: bold;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}
.infor-project-block{
    position: relative;
    padding: 15px;
    .ti-heart{
        position: absolute;
        top: 25px;
        right: 15px;
        cursor: pointer;
        font-size: 18px;
        color: #6f6f6f;
        &:hover{
            color: $brows;
        }
    }
}
.footer-page{
    background: $text;
    width: 100%;
    
    padding: 20px 0;
    margin: 0;
    margin-top: 30px;
    text-align: left !important;
    float: left;
    position: relative;
    img{
        max-width: 90%;
    }
    a{
        img{
            margin: 0 5px;
            
        }
    }
}
.social-footer{

    text-align: center;
}
.col-footer-1{
    text-align: center;
}
.col-footer-2{
    padding-top: 50px;
    h2{
        font-size: 24px;
        color: $white;
        position: relative;
        padding: 0;
        display: inline-block;
        width:100%;
        margin: 0 0  50px 0;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 100px;
            height: 4px;
            background: $brows;
        }
    }
    p{
        color: $white;
        line-height: 25px;
        display: inline-block;
        width: 100%;
    }
    a{
        display: inline-block;
        width: 100%;
        color: $white;padding: 3px 0;
    }
}
.copyright-footoer{
    border-top: 1px solid #4e4e4e;
    margin-top: 30px;
    padding: 10px 0;
    p{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
        text-align: right;
        color: #9d9d9d;
    }
}


.maunha-section{
    display: inline-block;
    width: 100%;
}
.sort-project{
    display: none;
}

.filter-muanha{
    position: relative;
    h2{
        font-weight: 700;
        margin-bottom: 20px !important;
        font-size: 20px;
    }
    ul{
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        visibility: visible;
        opacity: 1;
        li{
            list-style: none;
            margin-bottom: 60px;
            h3{
                font-size: 18px;
                margin-bottom: 20px !important;
                font-weight: 700;
            }
            label{
                font-weight: normal;
            }
        }
    }
    h4{
        font-weight: 600;
        margin-top: 30px;
        font-size: 14px;
    }
}
.price-textbox{
    position: relative;
    padding: 0 20px 10px 40px;
    label{
        position: absolute;
        left: 0;
        top: 3px;
    }
    input{
        width: 100%;
        background: none;
        box-shadow: none;
        border: 0;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
    }
    span{
        position: absolute;
        right: 0;
        top: 3px;
    }
}
.icheck-warning{
    margin-bottom: 15px !important;
}

.icheck-carrot{
    margin-bottom: 15px !important;
}
.phanloai{
    display: inline-block;
    margin-bottom: 10px;
    label{
        font-weight: normal;
        display: inline-block;
        width: 80px;
        font-size: 13px;
    }
    input{
        width: 30px;
        display: inline-block;
        border: 0;
        padding: 5px;
        color: #000;
        text-align: center;
        margin: 0 10px;
        height: 30px;
        background: #e4e4e4;
    }
    span{
        display: inline-block;
    }
}


.xeploai{
    position: relative;
   margin-bottom: 10px;
   span{
    margin-right: 5px;
    width: 120px;
    display: inline-block;
   }
   input{
       border: 0;
       border-bottom: 1px solid $line;
   }
}
.project-list{
    margin: 30px 0;
    .row-project{
        display: flex;
        flex-wrap: wrap;
    }
}


.box-item-project{
    margin-bottom: 30px;
}
.status{
    position: absolute;
    top: 0;
    right: 20px;
    padding:10px 20px;
    width: 100px;
    text-align: center;
    background: $brows;
    span{
        color: $white;
        font-weight: bold;
        font-size: 20px;
    }
}
.pagging-project{
    text-align: center;
    ul{
        border-radius: 0 !important;
        li{
            border-radius: 0;
            margin: 0 2px;
            display: inline-block;
            a{
                border: 0;
                padding: 10px 16px;
                color: $text;
                border-radius: 0 !important;
                background: #ebebeb;
                &:hover, &.active{
                    background: $text;
                    color: $white;
                }
            }
        }
    }
}
.item-project{
    display: inline-block;
    width: 100%;
}
.avatar-project{
    position: relative;
    overflow: hidden;
    width: 100%;
    a{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.kientruc{
    position: relative;
    overflow: hidden;
    width: 100%;
    a{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.title-description{
    position: relative;
    padding: 10px 25px 10px 15px;
    border: 1px solid $line;
    border-top: 0;
    width: 100%;
    border-bottom: 0;
    float: left;
    h6{
        a{
            font-size: 14px;
            font-weight: bold;
            color: $text;
            text-decoration: none;
        }
        &:hover{
            a{
                color: $brows;
            }
        }
    }
}
.heart{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 6px;
    i{
        font-size: 23px;
        position: absolute;
        top: 10px;
        right: 0;
        &.normal-heart{
            color: #4e4e4e;
        }
        &.active-heart{
            display: none;
            color: $brows;
        }
    }
    &:hover{
        i{
            &.normal-heart{
                display: none;
            }
            &.active-heart{
                display: block;
            } 
        }
    }
}
.cate-price{
    border: 1px solid $line;
    border-top: 0;
    border-bottom: 0;
    float: left;
    width: 100%;
}
.bottom-project{
    background: #000;
    padding: 10px 0px;
    width: 100%;
    float: left;
    &__item{
        padding: 0 15px;
        span{
            font-weight: bold;
            color: $white;
            font-size: 14px;
        }
        img{
            float: left;
        }
    }
}
.seo-about{
    background: url(../images/seo-description.png) no-repeat center top;
    height:auto;
    width: 100%;
    margin: 30px 0;
    display: inline-block;
    margin-bottom: 100px;
    padding-top: 250px;
}
.content-about-page{
    background: $white;
    box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    h2{
        text-align: center;
        padding-bottom: 20px;
        position: relative;
        font-size: 24px;font-weight: bold;
        color: $text;
        &::after{
            content: '';
            display: block;
            width: 70px;
            height: 2px;
            background: $brows;
            margin: 10px auto;
        }
    }
}
.popup-contact{
    .modal-dialog{
        width: 400px;
        button.btn-common{
            background: $brows;
            color: $white;
            float: right;
        }
    }
    h2{
        font-size: 24px;
        color: $text;
        position: relative;
        padding: 0;
        display: inline-block;
        width:100%;
        margin: 0 0  50px 0;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 100px;
            height: 4px;
            background: $brows;
        }
    }
    label{
        font-weight: normal;
        color: $text;
    }
    .close-popup{
        position: absolute;
        right: -30px;
        top: -00px;
        font-size: 30px;
            color: $white;
            opacity: 1;
            border: 0;
            box-shadow: none;
            i{
                font-size: 20px;
                opacity: 1;
                color: $white !important;
                box-shadow: none;
                border: 0;
            }
    } 
}
.popup-kientruc{
    position: relative;
    .modal-content{
        width: 100%;
        display: inline-block;
        border: 0;
        background: none;
        box-shadow: none;
        padding:4px 0 20px 0;
    }
    .close-popup{
        position: absolute;
        right: -30px;
        top: -00px;
        button{
            font-size: 30px;
            color: $white;
            opacity: 1;
            i{
                font-size: 20px;
                opacity: 1;
                color: $white;
            }
        }
    }
    .modal-dialog{
        width: 1200px;
        margin-top: 10%;
    }
}

.slide-popup{
    display: inline-block;
    width: 100%;
}

/*-- slider --*/
.product-slider { padding: 0; 
    position: relative;
    span{
        color: $white;
    }
    ul{
        margin-top: 0;
        margin: 0 !important;
        img{
            margin: 0;
            width: 100%;
            padding: 0;
        }
    }
}

.carousel-inner.vertical {
    height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
  }
  .carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
  }
  
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-inner.vertical > .item {
      -webkit-transition: -webkit-transform .6s ease-in-out;
      -o-transition: -o-transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .carousel-inner.vertical > .item.next,
    .carousel-inner.vertical > .item.active.right {
      -webkit-transform: translate3d(0, 33.33%, 0);
      transform: translate3d(0, 33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.prev,
    .carousel-inner.vertical > .item.active.left {
      -webkit-transform: translate3d(0, -33.33%, 0);
      transform: translate3d(0, -33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.next.left,
    .carousel-inner.vertical > .item.prev.right,
    .carousel-inner.vertical > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      top: 0;
    }
  }
  
  .carousel-inner.vertical > .active {
    top: 0;
  }
  .carousel-inner.vertical > .next,
  .carousel-inner.vertical > .prev {
    top: 0;
    height: 100%;
    width: auto;
  }
  .carousel-inner.vertical > .next {
    left: 0;
    top: 33.33%;
    right:0;
  }
  .carousel-inner.vertical > .prev {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .next.left,
  .carousel-inner.vertical > .prev.right {
    top: 0;
  }
  .carousel-inner.vertical > .active.left {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .active.right {
    left: 0;
    top: 33.33%;
    right:0;
  }
  
  #carousel-pager .carousel-control.left {
      bottom: initial;
      width: 100%;
      background: none !important;
      box-shadow: none !important;
  }
  #carousel-pager .carousel-control.right {
    background: none !important;
    box-shadow: none !important;
      top: initial;
      width: 100%;
  }
  .lager-slide{
      padding-left: 0;
      padding-right: 5px;
      img{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    a{
        padding-top: 37%;
    }
  }
  .small-slide{
      padding-right: 0;
      padding-left: 5px;
      img{
          padding: 0;
          margin: 0;
          width: 100%;
          margin-bottom: 5px;
      }
      a{
          background: none !important;
      }
  }
  






.lager-slide{
img{
    cursor: pointer;
}  
}

.slider-popup{
    padding-left: 150px !important;
    #thumbcarousel{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: 125px;
        .thumb{
            width: 100% !important;
        }
    }
    img{
        border: 0 !important;
        padding: 0 !important;
    }
    a{
        &.right.carousel-control{
            position: absolute;
            top: 390px;
            left: 13%;
            -ms-transform: rotate(180deg);
            transform: rotate(90deg);
        }
        &.left.carousel-control{
            position: absolute;
            top: 0;
            left: 46%;
            -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
        }
        i{
            color: $white;
        }
    }
}
.infor-project-popup{
    h2{
        color: $white;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    p{
        font-size: 13px;
        color: white;
        line-height: 24px;
    }
}


.show-search {
    a{
        &.search-top{
            img{
                display: none;
            }
            i{
                display: contents !important;
                color: $white !important;
                font-size: 16px;
            }
        }
    }
    .search-nav-top{
        visibility: visible !important;
        opacity: 1 !important;
        bottom: -27px;
    }
    
}
.search-top{
    display: inline-block;
    width: 30px;
}

.slider-bootraps{
    img{
        width: 100%;
    }
    li{
        border-radius: 0 !important;
        img{
            padding: 5px;
            border-radius: 0;
            border: 1px solid #ddd;
            &:nth-child(2){
                border: 0 !important;
            }
        }
        
        &.active{
            img{
                border: 1px solid $brows;
            }
        }
    }
}
.lager-thumbnails{
    img{
        width: 100%;
    }
}

.lSSlideOuter.vertical .lSAction > .lSPrev , .lSSlideOuter.vertical .lSAction > .lSNext {
    right: 10px !important;
    left: auto !important;
}
.modal-backdrop {
    background-color: #161616;
}
.modal-backdrop.in {
    filter: alpha(opacity=85);
    opacity: .85;
}


/*-- slider --*/
.product-slider { padding: 0; 
    position: relative;
    span{
        color: $white;
    }
    ul{
        margin-top: 0;
        margin: 0 !important;
        img{
            margin: 0;
            width: 100%;
            padding: 0;
        }
    }
}

.carousel-inner.vertical {
    height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
  }
  .carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
  }
  
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-inner.vertical > .item {
      -webkit-transition: -webkit-transform .6s ease-in-out;
      -o-transition: -o-transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .carousel-inner.vertical > .item.next,
    .carousel-inner.vertical > .item.active.right {
      -webkit-transform: translate3d(0, 33.33%, 0);
      transform: translate3d(0, 33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.prev,
    .carousel-inner.vertical > .item.active.left {
      -webkit-transform: translate3d(0, -33.33%, 0);
      transform: translate3d(0, -33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.next.left,
    .carousel-inner.vertical > .item.prev.right,
    .carousel-inner.vertical > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      top: 0;
    }
  }
  
  .carousel-inner.vertical > .active {
    top: 0;
  }
  .carousel-inner.vertical > .next,
  .carousel-inner.vertical > .prev {
    top: 0;
    height: 100%;
    width: auto;
  }
  .carousel-inner.vertical > .next {
    left: 0;
    top: 33.33%;
    right:0;
  }
  .carousel-inner.vertical > .prev {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .next.left,
  .carousel-inner.vertical > .prev.right {
    top: 0;
  }
  .carousel-inner.vertical > .active.left {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .active.right {
    left: 0;
    top: 33.33%;
    right:0;
  }
  
  #carousel-pager .carousel-control.left {
      bottom: initial;
      width: 100%;
  }
  #carousel-pager .carousel-control.right {
      top: initial;
      width: 100%;
  }
  .lager-slide{
      padding-left: 0;
      padding-right: 5px;
      img{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    a{
        padding-top: 47%;
    }
  }
  .small-slide{
      padding-right: 20px;
      img{
          padding: 0;
          margin: 0;
          width: 100%;
          margin-bottom: 5px;
      }
      a{
          background: none !important;
      }
  }
  




  .carousel-inner>.item{
      margin: 0 !important;
  }
.right.carousel-control{
    background: none !important;
    box-shadow: none !important;
}
.lager-slide{
img{
    cursor: pointer;
}  
}
.carousel-inner.vertical{
    &.item.active{
        img{
            opacity: .5 !important;
        }
    }
}
.carousel-control{
    span{
        font-size: 30px;
        background: rgba(0, 0, 0, 0.6);
        width: 40px;
        padding: 10px 5px 6px 5px;
        color: $white;
        box-shadow: none;
    }
}
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-indicators{
    display:inline-block;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    position:static;
    direction: rtl;
  }
  @media screen and (max-width:992px){
    .carousel-indicators{
      display: inline-flex;
      direction: inherit;
      height: auto;
      width: 100%;
      max-width:800px;
      overflow-x: auto;
      position: relative;
      margin-left: 0;
      margin-right: 0;
      overflow-y: hidden;
      justify-content: normal;
      margin-bottom:20px;
    }
    .carousel-inner{
      margin-left:0!important;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
      height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .item{
    margin-bottom:10px;
    margin-left: 10px;
    cursor:pointer;
  }

  .item img{
    border:1px solid transparent;
    opacity:1;
    transition:0.5s;
  }

  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
  }
  .content p{
    font-size:15px;
  }
  